# Web Framework
fastapi==0.115.6
uvicorn==0.32.1

# Database
psycopg[binary]==3.2.10

# HTTP Requests
requests==2.32.3

# Environment Variables
python-dotenv==1.0.1

# Data Validation
pydantic==2.10.3
